extends layout
    
block content
    .container 
        .row 
            .col-md-6.embed-responsive.embed-responsive-16by9
                img.embed-responsive-item(src=front_door)
            .col-md-6.embed-responsive.embed-responsive-16by9
                img(src=door_bell)